= form_for(@product) do |f|
  .form-group
    = f.label :title, "Image"
    = f.file_field :image, class: 'form-control'
  .form-group
    = f.label :title, "Title"
    = f.text_field :title, class: 'form-control'
  .form-group
    = f.label :price, "Description"
    = f.text_field :description, class: 'form-control'
  .form-group
    = f.label :price, "Price"
    = f.number_field :price, value: 1, class: 'form-control', min: 1
  = f.submit "Save", class: 'btn btn-success'
